<div class="todo">
<header>
    <app-menu></app-menu>
</header>

<body>
    <div class="conteudo">
        <div class="titulo">
        <h1>Titulo</h1>
        </div>
        <div class="texto">
            <p>
                Olá me chamo diogo Favilla tenho 23 anos e esse foi meu teste para a vaga de front-developor na teddy open finance. Achei um teste bem interresante utilizando a proposta de um sistema CRUD com a integração de uma API, já havia feitos outros sistemas CRUDs antes, O fato de já vim com uma API pronta ajudou no processo. Minha maior  dificuldade foi a questão do Micro Frontend, apesar de eu ja ter utilizado antes, eu havia testado apenas no react.js e de frameworks com linguagem similares então por ter que utilizar o Angular 15 senti dificuldade na integração dos frameworks e tive que aborta essa solução, resolvendo usar então apenas o Angular15. Isso me custou muito tempo e atrapalhou meu trabalho, então acredito que apesar de estar bem feito o site(tentei colocar imagens da teddy open finance para inserir mais o projeto no contexto da empresa) acho que poderia ter feito um trabalho melhor.
            </p>
            <span> desde já agradeço pela  oportunidade!!!</span>
        </div>
    </div>
 
</body>
</div>