.icons {
    display: inline;
    margin: 0px auto;
    cursor: pointer;
}

.icons:hover {
    /* background-color: aqua; */
}

#edit {
    margin: 0 auto;
}

#edit:hover {
    background-color: aqua;

}

#lixo:hover {
    background-color: aqua;
}

.container {
    /* height: 80vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    width: 10em;
}